<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>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</string>
</dict>
</plist>
