<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>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</string>
</dict>
</plist>
