<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>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</string>
</dict>
</plist>
