body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1em;
}

h3 {
  padding-bottom: 0;
  margin-bottom: -0.5rem;
}

section {
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: -0.5rem;
}

header {
  margin-bottom: 2rem;
}
